@font-face {
  font-family: 'DS-DIGI';
  src: url('../fonts/DS-DIGI.TTF');
  font-weight: normal;
  font-style: normal;
}


html, body {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100%;
}



body {
  font-family: "ds-digi";
  display: flex;
  justify-content: center;
  align-items: center;
}